.container {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: absolute;
  right: 0;
}
.btn {
  color: rgb(2, 149, 2);
  background-color: transparent;
  border: 1px solid rgb(2, 149, 2);
  border-radius: 10%;
  /* padding: 5px 8px; */
  margin-left: 5px;
}
.btn:hover {
  background-color: rgb(2, 149, 2);
  border: 1px solid black;
  color: black;
}
.container input::placeholder {
  background-color: green;
  border-radius: 2px;
  padding: 0;
}

